/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

.disabled {
    pointer-events: none;
}

.content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.video-content {
    background-color: #000000;
    color: #FFFFFF;
    overflow: hidden;
}

.bgvid {
    background-size: cover;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.overlay {
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 1;
}

.map-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.sign-up-container {
    color: #FFFFFF;
    z-index: 2;

    .sign-up-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .email-input {
            margin-left: 0;

            #email {
                border-bottom: 1px solid white;
            }

            label {
                color: #FFFFFF;
            }
        }

        .msg-container {
            display: flex;
            justify-content: center;
        }

        .card-panel {
            margin-left: 0;

            &.success-msg {
                background-color: #388E3C;
            }

            &.error-msg {
                background-color: #EF5350;
            }
        }
    }
}

#map {
    height: calc(100vw * 0.4);
    width: 100%;
}
